body {
    color: blue;
    text-align: center;
    margin: 0;
}

nav {
    border: 0.1px solid black;
    width: 100%;
    background-color: aqua
}

aside {
    border: 0.1px solid black;
    background-color: blanchedalmond
}

section {
    border: 0.1px solid black;
}
